<div class="postit">
    <h2>Hello World</h2>
</div>        

<script> 

    if (!document.getElementsByClassName) {
        document.getElementsByClassName = function (className) {
            return this.querySelectorAll("." + className);
        };
        Element.prototype.getElementsByClassName = document.getElementsByClassName;
    }

    var divs = document.getElementsByClassName('postit');

    for (i = 0; i < divs.length; i++) {
        divs[i].style.backgroundColor = '#F0F0A6';
        divs[i].style.padding = '10px';
    }
</script>


@section scripts  {
    require([], function() {
        
    });
}