@section scripts  {
    require(['jquery', 'jquery.dataTables'], function() {
        
        // loads table  
        $(function() {
            $('#example').dataTable({
                bProcessing: true,
                bServerSide: true,
                sPaginationType: "full_numbers",
                bSort: false,
                sAjaxSource: "/api/Note/"
            });
    
            // registers simple event handler (does not work!)
            $('td').click(function() {
                alert($(this).text());
            });
    
            // registers a delegated event handler
            $('table').on('click', 'td', function() {
                alert($(this).text());
            });
        });
    });
}

<table class="display" id="example">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Message</th>
            <th>Added</th>
            <th>Categories</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5" class="dataTables_empty">Loading data from server</td>
        </tr>
    </tbody>
</table>