@section scripts  {
    
    var id = @ViewBag.Id;

    require(['app/editPage'], function(i) { 
        i.init(id); 
    });
}

<div id="edit_template">

    <h1 data-bind="text: 'Details of ' + Id()"></h1>
    
    <div class="drop_shadow bigpostit greenColor">

        <fieldset>
        
            <label class="display-label rowLeft">Title:</label>
            <input class="display-field rowRight" data-bind="value: Title" type="text" />

            <hr class="clear" />
        
            <label class="display-label rowLeft">Message:</label>
            <textarea  class="display-field rowRight message" data-bind="value: Message"></textarea>
        
            <hr class="clear" />

            <div class="display-label rowLeft">Categories:</div>
            <div class="display-field rowRight">
                <ul data-bind="template: { name: 'categories_list', foreach: ['important', 'hobby' ,'private'] }"></ul>
            </div>

        </fieldset>
    </div>
    
    <p>
        <a href="/">&#171; Back to List</a>
    </p>

</div>

<script type="text/html" id="categories_list">

    <li data-bind="text: $data"></li>

</script>