@section scripts  {
    
    var id = @ViewBag.Id;

    require(['app/editPage'], function(i) { 
        i.init(id); 
    });
}

<div id="edit_template">
    
    <h1></h1>
    
    <div class="drop_shadow bigpostit">
           
        <form>
            <fieldset>
        
                <label class="display-label rowLeft">Title:</label>
                <input class="display-field rowRight" type="text" /> 

                <br class="clear">
        
                <label class="display-label rowLeft">Message:</label>
                <textarea class="display-field rowRight message"></textarea>
        
                <br class="clear">

                <div class="display-label rowLeft">Categories:</div>
                
                <ul class="rowRight">
                    <li>
                        <input type="checkbox" name="Categories"> 
                        <label>Checbox</label>
                    </li>
                </ul>

                <br class="clear">
                <p>
                    <input type="submit" value="Save" style="float:right;">
                </p>

            </fieldset> 
        </form>
    </div>
    
    <p>
        <a href="/">&#171; Back to List</a>
    </p>

</div>