@section scripts  {
    require(['knockout', 'jquery', 'IndexViewModel', 'cufon', 'buxtonSketch', 'jquery.dropShadows'], function(ko, $, IndexViewModel, cufon) {
              
        var model = new IndexViewModel();
        ko.applyBindings(model, $('#index_template').get(0));
        //model.loadData();
    
        cufon.replace('h1, h2', { fontFamily: 'Buxton Sketch' });
        $.dropShadows();
    });
}

<div id="index_template">

    <h1 data-bind="text: header"></h1>  

    <div data-bind="foreach: notes">
        
        <div class="drop_shadow postit" data-bind="choseCategoryColor: Categories">
        
            <h2 data-bind="text: Title"></h2>
            <p data-bind="text: Message" class="message"></p>

        </div> 
    </div>    
</div>     
