<section id="page404_view"
         data-view-model="Page404ViewModel"
         data-bind="template: { name: 'page404_template' }">
</section>

<script type="text/html" id="page404_template">

    <h1>404</h1>
    
</script>